* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    background-color: black;
    overflow-x: hidden;
    overflow: hidden !important;

}

body {
    font-family: "Greycliff CF";
}

/*--------navegador-----*/
.header {
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
}
.logof {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}

.logof a {
    text-decoration: none;
    color: white;
}

.navigation ul {
    list-style: none;
    z-index: 1000;
}

.header .navigation ul li {
    float: left;
    position: relative;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.336));
}

.header .navigation ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.header .navigation ul li a:hover {
    background-color: rgba(51, 21, 80, 0.658);
}

.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1);
    display: none;
}

.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;

}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;

}

.header .navigation ul li ul li {
    width: 100%;
    background-color: black;

}

.header .navigation ul li:hover>ul {
    display: initial;
}

#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;

}

@media (max-width:950px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
    }

    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;

    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {
        background-color: rgba(0, 0, 0, 0.438);
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked~.navigation {
        display: block;
    }
}
/*-----------------------------------estilos de la bibliografia-----------------------------------------*/
.contenido {
    width: 100%;
    margin-top: 100vh;
}
.contenido .contenido_del_contenidoxdxd {
    width: 100%;
    text-align: center;
}

.contenido .contenido_del_contenidoxdxd  .bib h1 {
    color: white;
    margin-bottom: 2%;
    font-size: 24px;
    text-transform: uppercase;
    padding: 15px;
}
.contenido .contenido_del_contenidoxdxd .bib  {
    width: 100%;
    text-align: center;
    margin-bottom: 6%;


}
.contenido .contenido_del_contenidoxdxd .bib  a {
   width: 100%;
    text-decoration: none;
    text-align: center; 
    color: rgb(18, 103, 136);
    font-weight: 600;
    font-size: 20px;
    
}
.contenido .contenido_del_contenidoxdxd .bib  a p {
    text-align: center;

}
.contenido .contenido_del_contenidoxdxd  .bib a:hover {
    text-decoration: underline;
    color: white;
    transition: all 1s;
}
@media (max-width:950px) {
    .contenido .contenido_del_contenidoxdxd .bib  a p {
        font-size: 15px;
    }
    .contenido .contenido_del_contenidoxdxd  .bib h1 {
        font-size: 23px;
    }
}
@media (max-width:750px) {
    .contenido .contenido_del_contenidoxdxd .bib {
        margin: 0px;
        padding: 3%;
        margin: 0px;
    }
    .contenido .contenido_del_contenidoxdxd .bib  a {
        padding: 20px;
        font-size: 4vw;
    }
    .contenido .contenido_del_contenidoxdxd .bib  a p {
        font-size: 10px;
    }
    .contenido .contenido_del_contenidoxdxd  .bib h1 {
        font-size: 17px;
    }
}
/*-------------------------------------boton---------------------------*/
 .btn a {
    text-decoration: none;
    color: white;

}
.btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 4rem 2em;
    width: max-content;
    padding: 0.75rem 1.25rem;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
    background: linear-gradient(
        0deg, 
        rgba(255, 255, 255, 0.212) 0%,
        black 100%
    );
}
.send {
    color: white;
    opacity: 1;
    display: block; 
}
.link {
    width: 100%;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    overflow: hidden;
}
.link-content {
    white-space: nowrap;
}
.link#active {
    background: white;
}
.link#active a {
    color: black;
}
.links {
    opacity: 0;
    display: none;
} 

/*-------------------------------------footer---------------------------*/
footer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(33, 107, 167, 0.37), black);
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
}

footer .con-fo {
    color: white;
}

footer .con-fo .cyl {
    width: 100%;
    display: flex;
    margin-left: 10%;

}

.con-fo .cyl .carrera,
.con-fo .cyl .lugar {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.con-fo .cyl .carrera h2,
.con-fo .cyl .lugar h2 {
    text-transform: capitalize;
}


.con-fo .gya {
    display: flex;
    width: 100%;
    margin-left: 10%;

}

.con-fo .gya .grado,
.con-fo .gya .asignatura {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.con-fo .docente {
    width: 100%;
    text-transform: capitalize;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    margin-left: 10%;

}

.con-fo .iyl {
    width: 100%;
    display: flex;
    margin-left: 5%;
}

.con-fo .iyl .integrantes,
.con-fo .iyl .links {
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.con-fo .iyl .integrantes h1,
.con-fo .iyl .links h1 {
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.con-fo .iyl .integrantes ul li {
    list-style: none;
}

.con-fo .iyl .links ul li,
.con-fo .iyl .integrantes ul li p {
    list-style: none;
    padding: 3px;
    margin-left: 5%;
}

.con-fo .iyl .links ul li a {
    text-decoration: none;
    color: white;
}

.con-fo .iyl .links ul li a:hover {
    text-decoration: underline;
}

.con-fo .esc {
    width: 100%;
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-size: 23px;

}

@media (max-width:1000px) {

    footer .con-fo,
    footer .con-fo .cyl,
    footer .con-fo .gya,
    footer .con-fo .iyl {
        width: 100%;
        flex-direction: column;
    }

    .con-fo .cyl,
    .con-fo .gya,
    .con-fo .docente,
    .con-fo .iyl {
        width: 100vw;
    }

    .con-fo .docente {
        margin-left: 0px;
    }

    .con-fo .esc {
        font-size: 17px;
    }
}