* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}
/*------------------------------------------------------------navegador-----------------------------------------------------*/
.header {
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
}

.logof {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}

.logof a {
    text-decoration: none;
    color: white;
}

.navigation ul {
    list-style: none;
    z-index: 1000;
}

.header .navigation ul li {
    float: left;
    position: relative;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.336));
}

.header .navigation ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.header .navigation ul li a:hover {
    background-color: rgba(51, 21, 80, 0.658);
}

.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1);
    display: none;
}

.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;

}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;

}

.header .navigation ul li ul li {
    width: 100%;
    background-color: black;

}

.header .navigation ul li:hover>ul {
    display: initial;
}

#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;

}

@media (max-width:950px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
    }

    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;

    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {
        background-color: rgba(0, 0, 0, 0.438);
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked~.navigation {
        display: block;
    }
}

/*---------------------------------mensaje conclusion-------------------------------------*/
.titulocon {
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
}
.titulocon h1{
    width: 100%;
    position: relative;
    color: rgb(255, 255, 255);
    letter-spacing: 30px;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 10px 10px 16px black;
}
@media (max-width:940px) {
    .titulocon h1 {
        font-size: 45px;
    }
}
@media (max-width:750px) {
    .titulocon h1 {
        font-size: 25px;
        letter-spacing: 20px;
    }
}
@media (max-width:460px) {
    .titulocon h1 {
        font-size: 24px;
        letter-spacing: 10px;
    }
}

@media (max-width:340px) {
    .titulocon h1 {
        font-size: 23px;
        letter-spacing: 5px;
    }
}
@media (max-width:264px) {
    .titulocon h1 {
        font-size: 20px;
    }
}
/*---------------------------------------------------concluciones-----------------------------------------------*/
.conc {
    width: 100%;
    min-height: 100vh;

}

.conc .cont-conc {
    display: flex;
}

.conc .cont-conc .conc1,
.conc .cont-conc .conc2,
.conc .cont-conc .conc3,
.conc .cont-conc .conc4,
.conc .cont-conc .conc5 {
    width: 20%;
    overflow: hidden;
}

.conc .cont-conc .conc1 a:hover>.conc1,
.conc .cont-conc .conc2 a:hover>.conc2,
.conc .cont-conc .conc3 a:hover>.conc3,
.conc .cont-conc .conc4 a:hover>.conc4,
.conc .cont-conc .conc5 a:hover>.conc5 {
    transform: scale(1.1);
}

.conc1 {
    width: 100%;
    min-height: 85vh;
    background-image: url('https://images.unsplash.com/photo-1564754943164-e83c08469116?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8dmVydGljYWx8ZW58MHx8MHx8fDA%3D0');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    mask-image: linear-gradient(black 60%, transparent);
}

.conc2 {
    width: 100%;
    min-height: 85vh;


    background-image: url('    https://media.istockphoto.com/id/1207014981/es/foto/bosque-de-oto%C3%B1o-por-la-ma%C3%B1ana-con-rayos-de-luz-c%C3%A1lida-del-sol.jpg?s=612x612&w=0&k=20&c=MGHLbZBaIyVPFLQn6Gtap6cefXbHiOiVtpP06MCMsgs=');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    mask-image: linear-gradient(black 60%, transparent);
}

.conc3 {
    width: 100%;
    min-height: 85vh;


    background-image: url('https://images.unsplash.com/photo-1526512340740-9217d0159da9?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dmVydGljYWx8ZW58MHx8MHx8fDA%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    mask-image: linear-gradient(black 60%, transparent);
}

.conc4 {
    width: 100%;
    min-height: 85vh;

    background-image: url('https://images.unsplash.com/photo-1560952350-31ef0a40687a?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    mask-image: linear-gradient(black 60%, transparent);
}

.conc5 {
    width: 100%;
    min-height: 85vh;

    background-image: url('https://static.vecteezy.com/system/resources/previews/023/029/142/large_2x/vertical-of-beautiful-landscape-view-sunset-over-the-ocean-free-photo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    mask-image: linear-gradient(black 60%, transparent);
}

.conc1::before,
.conc2::before,
.conc3::before,
.conc4::before,
.conc5::before {
    z-index: 1;
    content: '';
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.562);

}

.cont-conc {
    z-index: 2;
    position: relative;
}

.conc1 .tx,
.conc2 .tx,
.conc3 .tx,
.conc4 .tx,
.conc5 .tx {
    position: absolute;
    bottom: 15%;
    color: white;
    z-index: 3;
}

.conc1 .tx h1,
.conc2 .tx h1,
.conc3 .tx h1,
.conc4 .tx h1,
.conc5 .tx h1 {
    text-align: center;
    font-size: 35px;
    color: white;
    margin-bottom: 5%;
}

.conc1 .tx p,
.conc2 .tx p,
.conc3 .tx p,
.conc4 .tx p,
.conc5 .tx p {
    color: white;
    text-align: center;
    padding: 5px;
}

@media (max-width:1000px) {
    .conc {
        width: 100%;
    }

    .cont-conc {
        flex-direction: column;
    }

    .cont-conc .conc1,
    .cont-conc .conc2,
    .cont-conc .conc3,
    .cont-conc .conc4,
    .cont-conc .conc5 {
        width: 100% !important;
    }

    .cont-conc .conc1 .tx,
    .cont-conc .conc2 .tx,
    .cont-conc .conc3 .tx,
    .cont-conc .conc4 .tx,
    .cont-conc .conc5 .tx {
        padding: 10px;
    }

    .conccc .text-concc h1 {
        margin-top: 15%;
    }
}

@media (max-width:630px) {
    .conccc .text-concc h1 {
        font-size: 40px;
        padding: 10px;
    }
}

/*----------------------------conclusiones prueba-------------------*/
.container {
    position: relative;
    width: 100%;
    min-height: 90vh;
    background: #222;
    overflow: hidden;
}

.container .clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: clip-path 0.5s ease-in-out, z-index 0s 0.5s;
}

.container .clip.clip1 {
    background-image: url('../img_concluciones/pai1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 11% 0, 21% 100%, 0 100%);
    z-index: 1;
}

.container .clip.clip2 {
    background-image: url('../img_concluciones/pai2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(9% 0, 30% 0, 44% 100%, 21% 100%);

    z-index: 2;
}

.container .clip.clip3 {
    background-image: url('../img_concluciones/pai3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(29% 0, 50% 0, 68% 100%, 43% 100%);

    z-index: 3;
}

.container .clip.clip4 {
    background-image: url('../img_concluciones/pai4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(49% 0, 68% 0, 87% 100%, 67% 100%);

    z-index: 4;
}

.container .clip.clip5 {
    background-image: url('../img_concluciones/pai5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(67% 0, 100% 0, 100% 100%, 86% 100%);
    z-index: 5;
}

.container .clip::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}



.container .clip:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 10;
    filter: brightness(2);
    transition: clip-path 0.5s ease-in-out, z-index 0s;
}

.container .clip .content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 80%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.container .clip:hover .content {
    bottom: 0;
    opacity: 1;
}

.content h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.content p {
    margin: 10px 0 0;
    font-size: 16px;
    color: black;
}



.container .clip .name {
    position: absolute;
    bottom: 20%;
    width: 13%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 3;
}

.container .clip .name2 {
    position: absolute;
    bottom: 40%;
    width: 13%;
    left: 17%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 3;
}

.container .clip .name3 {
    position: absolute;
    bottom: 50%;
    width: 13%;
    left: 37%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 3;
}

.container .clip .name4 {
    position: absolute;
    bottom: 40%;
    width: 13%;
    left: 59%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 3;
}

.container .clip .name5 {
    position: absolute;
    bottom: 30%;
    width: 13%;
    right: 5%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 3;
}

.container .clip .name h1,
.container .clip .name2 h1,
.container .clip .name3 h1,
.container .clip .name4 h1,
.container .clip .name5 h1 {
    color: white;
    font-size: 35px;
    line-height: 2;
    text-align: center;
}

.container .clip:hover .name,
.container .clip:hover .name2,
.container .clip:hover .name3,
.container .clip:hover .name4,
.container .clip:hover .name5 {
    opacity: 0;
    transform: translateY(0);
}

.container .clip .name,
.container .clip .name2,
.container .clip .name3,
.container .clip .name4,
.container .clip .name5 {
    opacity: 1;
    transform: translateY(20px);
}

@media (max-width:830px) {

    .container .clip .name h1,
    .container .clip .name2 h1,
    .container .clip .name3 h1,
    .container .clip .name4 h1,
    .container .clip .name5 h1 {
        font-size: 25px;
    }

}

@media (max-width:640px) {
    .container .clip .content {
        width: 100%;
    }

    .container .clip .content h1 {
        font-size: 20px;
    }

    .content p {
        font-size: 14.5px;
    }
}

@media (max-width:600px) {

    .container .clip .name,
    .container .clip .name2,
    .container .clip .name4,
    .container .clip .name5 {
        width: 17%;
    }

    .container .clip .name h1,
    .container .clip .name2 h1,
    .container .clip .name3 h1,
    .container .clip .name4 h1,
    .container .clip .name5 h1 {
        font-size: 18px;
    }
}

@media (max-width:450px) {

    .container .clip .name h1,
    .container .clip .name2 h1,
    .container .clip .name3 h1,
    .container .clip .name4 h1,
    .container .clip .name5 h1 {
        font-size: 15px;
    }
}

@media (max-width:320px) {

    .container .clip .name h1,
    .container .clip .name2 h1,
    .container .clip .name3 h1,
    .container .clip .name4 h1,
    .container .clip .name5 h1 {
        font-size: 13px;
    }
}

/*----------------------------------footer---------------------------*/
footer {
    width: 100%;
    height: 100%;
    background-color: #141414;
    padding: 3%;
    mask-image: linear-gradient(0deg, black 90%, transparent);
}

footer .con-fo {
    color: white;
}

footer .con-fo .cyl {
    width: 100%;
    display: flex;
    margin-bottom: 3%;
}

.con-fo .cyl .carrera,
.con-fo .cyl .lugar {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    margin-top: 10%;
}

.con-fo .cyl .carrera h2,
.con-fo .cyl .lugar h2 {
    text-transform: capitalize;
    font-size: 25px;
}

.con-fo .gya {
    display: flex;
    width: 100%;
}

.con-fo .gya .grado,
.con-fo .gya .asignatura {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.con-fo .docente {
    width: 100%;
    text-transform: capitalize;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 3px;
}

.con-fo .iyl {
    width: 100%;
    display: flex;
    margin-left: 5%;
}

.con-fo .iyl .integrantes,
.con-fo .iyl .links {
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.con-fo .iyl .links {
    border-right: 2px solid white;
}

.con-fo .iyl .integrantes h1,
.con-fo .iyl .links h1 {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.con-fo .iyl .integrantes ul li {
    list-style: none;
}

.con-fo .iyl .links ul li,
.con-fo .iyl .integrantes ul li p {
    list-style: none;
    padding: 3px;
    margin-left: 5%;
    font-size: 17.5px;
}

.con-fo .iyl .links ul li a {
    text-decoration: none;
    color: white;
}

.con-fo .iyl .links ul li a:hover {
    text-decoration: underline;
}

.con-fo .esc {
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;

}

@media (max-width:1000px) {
    footer {
        margin: 0px;
        padding-left: 0px;
    }

    footer .con-fo,
    footer .con-fo .cyl,
    footer .con-fo .gya,
    footer .con-fo .iyl {
        width: 100% !important;
        flex-direction: column;
    }

    .con-fo .cyl,
    .con-fo .gya,
    .con-fo .docente,
    .con-fo .iyl {
        width: 100% !important;
    }

    .con-fo .docente {
        font-size: 19px;
        margin: 0px;
        padding: 4%;
    }

    .con-fo .esc {
        font-size: 17px;
        margin: 0px;
        padding: 0px;
    }

    .con-fo .iyl .links {
        border-right: none;
        border-bottom: 2px solid white;
    }

    .con-fo .gya .grado,
    .con-fo .gya .asignatura {
        font-size: 14px;
    }

    .con-fo .cyl .carrera h2 {
        margin-top: 30%;
    }

    .con-fo .cyl .carrera h2,
    .con-fo .cyl .lugar h2 {
        font-size: 20px;
    }
}