* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100% !important; 
    background-color: black;
    overflow-x: hidden !important;
    color: white;
}

body {
    font-family: "Greycliff CF";
}


/*------------------------------------------------------------navegador-----------------------------------------------------*/
.header {
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
}

.logof {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}

.logof a {
    text-decoration: none;
    color: white;
}

.navigation ul {
    list-style: none;
    z-index: 1000;
}

.header .navigation ul li {
    float: left;
    position: relative;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.336));
}

.header .navigation ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.header .navigation ul li a:hover {
    background-color: rgba(51, 21, 80, 0.658);
}

.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1);
    display: none;
}

.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;

}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;

}

.header .navigation ul li ul li {
    width: 100%;
    background-color: black;

}

.header .navigation ul li:hover>ul {
    display: initial;
}

#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;

}

@media (max-width:950px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
    }

    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;

    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {
        background-color: rgba(0, 0, 0, 0.438);
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked~.navigation {
        display: block;
    }
}
/*----------------------------introduccion------------------------------*/
.introd {
    width: 100%;
    overflow: hidden;

}
.introd .contontrod {
    overflow: hidden;
    width: 100%;
}
.contontrod .primse {
    margin: 25px;
    padding: 25px;
}
.contontrod .primse .titulo-int {
    width: 100%;
}
.contontrod .primse .titulo-int h1 {
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
}
.cont-dec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-dec .div-decoracion {
    margin-left: 50%;
    width: 120px;
    height: 20px;
    background-color: rgb(21, 117, 134);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin: 5%;
}
.descrip-int p {
    font-size: 40px;
    text-align: center;
}
/*-----responsive las letras------------*/
@media (max-width:650px) {
    .contontrod .primse .titulo-int h1 {
        font-size: 60px;
    }
    .descrip-int p {
        font-size: 25px;
    }
}
@media (max-width:450px) {
    .contontrod .primse .titulo-int h1 {
        font-size: 35px;
    }
    .descrip-int p {
        font-size: 20px;
    }
}
/*---------------------------------------video------------------------------*/
.introd .contontrod .video-eimg {
  
    display: flex;
    max-width: 100%;
    margin: 5%;
    padding: 5%;
    box-sizing: border-box;
    position: relative; /* Asegura que los hijos con z-index se posicionen respecto a este contenedor */
    overflow: hidden; 
}
 .introd .contontrod .video-eimg  video {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
.imgs {
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: -15%;
    margin-left: -5%;
    z-index: 3;
}
.imgs .imgs1 {
    max-width: 40%;
    height: 50%;
    margin-bottom: 5%;
    overflow: hidden;
    z-index: 3;
}

.imgs .imgs1 img {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    object-fit: cover;
}
.contontrod .sec2 {
    width: 100%;
   
}
.enlaces-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.enlaces-hero li {
    list-style: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(15, 15, 15, 0.24));
}
.enlaces-hero li  a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    letter-spacing: 1.5px;
}
.enlaces-hero li:hover > a {
    color: rgb(70, 234, 240);
    text-decoration: underline;
}

@media (max-width:800px) {
    .introd .contontrod .video-eimg {
        margin-bottom: 0px;
    }
    .enlaces-hero {
        flex-direction: column;
    }
    .enlaces-hero li {
        width: 100%;
        margin-bottom: 5%;
        margin-top: 0px;
        text-align: center;
    }
}
@media (max-width:400px) {
    .enlaces-hero li {
        width: 100%;
        margin-bottom: 15%;
        text-align: center;
    }
} 
/*---------------------------------------------------formas------------------------------------*/
.mensaje-form {
    width: 60%;
    margin: 20px;
    padding: 20px;
}

.mensaje-form h1 {
    text-transform: capitalize;
    line-height: 1.5;
}

@media (max-width:600px) {
    .mensaje-form {
        width: 90%;
    }
}

.form1,
.form3 {
    width: 50%;
    margin-left: 45%;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: black;
}

.form1::before,
.form3::before {
    content: '';
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 20px;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
}

.form2 {
    width: 50%;
    margin-right: 45%;
    padding: 20px;
    margin: 15px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: black;
}

.form2::before {
    content: '';
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 20px;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
}

/*-------------------------------------------------------------unidades de medida------------------------------------------*/
.unmed {
    width: 100%;
    min-height: 150vh;
    background-image: url('https://cdn.todamateria.com/imagenes/unidades-de-medida-og.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    mask-image: linear-gradient(0deg, black 80%, transparent);
}
.unmed::before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.562);
}
.unmed .titulo-unmed,
.unmed .conten-unmed {
    position: relative;
    z-index: 3;
}
.unmed .titulo-unmed {
    width: 100%;
    margin: 10px;
    padding: 10px;
}
.unmed .titulo-unmed h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 13%;
    font-size: 70px;
}
.unmed .conten-unmed {
    padding: 5%;
}
.unmed .conten-unmed .sec1-un {
    display: flex;
    width: 100%;
}
.unmed .conten-unmed .sec1-un .p1-un,
.unmed .conten-unmed .sec1-un .p2-un    {
    width: 50%;
    padding: 10px;
}
.unmed .conten-unmed .sec1-un .p1-un p,
.unmed .conten-unmed .sec1-un .p2-un p {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    font-weight: 900;
} 
.unmed .conten-unmed .sec2-un {
    width: 100%;
}
.unmed .conten-unmed .sec2-un p{
    text-align: center;
    font-size: 25px;
    margin-top: 5%;
}
@media (max-width:800px) {
    .unmed {
        width: 100%;
    }
    .unmed .titulo-unmed {
        margin: 0px;
        padding: 10px;
    }
    .unmed .titulo-unmed  h1{
        font-size: 40px;
    }
    .unmed .conten-unmed {
        margin: 0px;
    }
    .unmed .conten-unmed .sec1-un {
        flex-direction: column;
    }
    .unmed .conten-unmed .sec1-un .p1-un,
    .unmed .conten-unmed .sec1-un .p2-un {
        width: 100%;
    }
    .unmed .conten-unmed .sec1-un .p1-un p,
    .unmed .conten-unmed .sec1-un .p2-un p {
        font-size: 17px;
    }
    .unmed .conten-unmed .sec2-un {
        margin: 0px;
        padding: 10px;
    }
    .unmed .conten-unmed .sec2-un p{
        font-size: 20px;
    }
}
/*----------------------------------------------tipos de potencia ------------ ------------------------*/
.container {
    width: 100%;
}

.container .contenido .secf1,
.container .contenido .secf2,
.container .contenido .secf3,
.container .contenido .secf4 {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.container .contenido .secf1::before,
.container .contenido .secf2::before,
.container .contenido .secf3::before,
.container .contenido .secf4::before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 1;
}

.container .contenido .secf1 {
    width: 100%;
    min-height: 280vh;
    background-image: url('../poten_fric/desierto.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    position: relative;
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    z-index: 2;
}

.container .contenido .secf2 {
    width: 100%;
    min-height: 200vh;
    background-image: url('../poten_fric/lluvia.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    position: relative;
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    z-index: 2;
}

.container .contenido .secf3 {
    width: 100%;
    min-height: 150vh;
    background-image: url('../poten_fric/fuego.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    position: relative;
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    z-index: 2;
}

.container .contenido .secf4 {
    width: 100%;
    min-height: 150vh;
    background-image: url('../poten_fric/ciudad.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    position: relative;
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    z-index: 2;
}

.container .contenido .secf1 .titulo1,
.container .contenido .secf2 .titulo1,
.container .contenido .secf3 .titulo1,
.container .contenido .secf4 .titulo1 {
    width: 100%;
    height: 10%;
    background-color: white;
    mask-image: radial-gradient(circle, black, transparent);
    padding: 10px;
    z-index: 3;
    position: relative;
}

.container .contenido .secf1 .titulo1 h1,
.container .contenido .secf2 .titulo1 h1,
.container .contenido .secf3 .titulo1 h1,
.container .contenido .secf4 .titulo1 h1 {
    color: black;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 3;
}

.container .contenido .secf2,
.container .contenido .secf3,
.container .contenido .secf4 {
    width: 100%;
    min-height: 150vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
/*dise単o de primer potencia*/
.container .contenido .secf1 p,
.container .contenido .secf1 img,
.container .contenido .secf2 p,
.container .contenido .secf2 img,
.container .contenido .secf3 p,
.container .contenido .secf3 img,
.container .contenido .secf4 p,
.container .contenido .secf4 img    {
    padding: 10px;
    position: relative;
    z-index: 3;
}
.container .contenido .secf1 img  {
    margin: 20px;
}
.container .contenido .secf1 p {
    text-shadow: 4px 4px 6px black;
    text-align: center;
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}
/*dise単o de segunda potencia*/
.container .contenido  .secf2 p {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    text-shadow: 4px 4px 6px black;

}
.container .contenido  .secf2  img {
    width: 17%;
    margin: 20px;
}
/*dise単o de tercera potencia*/
.container .contenido  .secf3 p {
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    text-shadow: 4px 4px 6px black;
}
.container .contenido  .secf3  img {
    width: 12%;
}
/*dise単o de cuerta potencia*/
.container .contenido  .secf4 p  {
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    text-shadow: 4px 4px 6px black;
    color: rgb(255, 255, 255);
}
.container .contenido  .secf4  img {
    width: 17%;
}
@media (max-width:650px) {
    .container .contenido  .secf2 p,
    .container .contenido  .secf3 p,
    .container .contenido  .secf4 p {
        font-size: 23px;
    }
    .container .contenido  .secf2 img,
    .container .contenido  .secf3 img{
        width: 45%;
    }
    .container .contenido  .secf4 img {
        width: 60%;
    }
   
}
/*-----------------------------aplicacones de potencia--------------------*/
.aplicaciones {
    width: 100%;
    min-height: 100vh;
}

.aplicaciones .contenido-ap {
    display: flex;
    width: 100%;
}

.aplicaciones .contenido-ap .texto-ap,
.aplicaciones .contenido-ap .imagen-ap {
    width: 50%;
    margin: 20px;
    padding: 20px;
}

.aplicaciones .contenido-ap .texto-ap h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.aplicaciones .contenido-ap .texto-ap p {
    font-size: 16px;
    line-height: 1.5;
}

.aplicaciones .contenido-ap .imagen-ap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:900px) {
    .aplicaciones .contenido-ap {
        flex-direction: column;
    }
    .aplicaciones .contenido-ap .texto-ap,
    .aplicaciones .contenido-ap .imagen-ap {
        width: 100% !important;
        margin: 0px;
    }
}

/*--------------------------------------ejercicios resueltos------------------------*/
.ejres {
    width: 100%;
    height: 100%;
}
.ejres .cont-ejre  {
    display: flex;
}
.ejres .cont-ejre .sec1-ejr {
    width: 70%;
    padding: 20px;
}
.ejres .cont-ejre .sec2-ejr {
    width: 30%;
}
.ejres .cont-ejre .sec2-ejr .imags-ejrs {
    width: 100%;
}
.ejres .cont-ejre .sec2-ejr .imags-ejrs  img {
    width: 100%;
    margin-top: 80%;
    object-fit: cover;
}
.ejres .cont-ejre .sec1-ejr  .tit-ejer {
    padding: 10px;
}
.ejres .cont-ejre .sec1-ejr  .tit-ejer h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(51, 156, 51);

}
.ejres .cont-ejre .sec1-ejr .mens-ejer {
    margin-bottom: 5%;
}
.ejres .cont-ejre .sec1-ejr .mens-ejer p{
    font-size: 20px;
    letter-spacing: 1.1px;
    line-height: 1.2;
}


.ejres .cont-ejre .sec1-ejr .cards {
    display: flex;
     width: 100%;
     margin: 10px;
}
.ejres .cont-ejre .sec1-ejr .cards .card1,
.ejres .cont-ejre .sec1-ejr .cards .card2 {
    width: 50%;
    border: 2px solid white;
    margin: 20px;
    padding: 10px;
    background-color: #2a2c2ea2;

}
.ejres .cont-ejre .sec1-ejr .cards .card1 p,
.ejres .cont-ejre .sec1-ejr .cards .card2 p {
    font-size: 17px;
    margin-bottom: 5%;
}


@media (max-width:950px){
    .ejres .cont-ejre .sec1-ejr .mens-ejer {
        text-align: center;
        padding: 10px;
    }
    .ejres .cont-ejre .sec1-ejr {
        width: 100%;
        margin: 0px;
        padding: 0px;

    }
    .ejres .cont-ejre .sec1-ejr .cards{
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    .ejres .cont-ejre .sec1-ejr .cards .card1,
    .ejres .cont-ejre .sec1-ejr .cards .card2 {
        width: 100%;
        margin: 0px;
        padding: 15px;
        margin-bottom: 5%;
    }
    .ejres .cont-ejre {
        flex-direction: column;
    }
    .ejres .cont-ejre .sec2-ejr .imags-ejrs  img {
        display: none;
    }
}

/*----------------------------------footer---------------------------*/
footer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(33, 107, 167, 0.37), black);
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
}

footer .con-fo {
    color: white;
}

footer .con-fo .cyl {
    width: 100%;
    display: flex;
    margin-left: 10%;

}

.con-fo .cyl .carrera,
.con-fo .cyl .lugar {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.con-fo .cyl .carrera h2,
.con-fo .cyl .lugar h2 {
    text-transform: capitalize;
}


.con-fo .gya {
    display: flex;
    width: 100%;
    margin-left: 10%;

}

.con-fo .gya .grado,
.con-fo .gya .asignatura {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.con-fo .docente {
    width: 100%;
    text-transform: capitalize;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    margin-left: 10%;

}

.con-fo .iyl {
    width: 100%;
    display: flex;
    margin-left: 5%;
}

.con-fo .iyl .integrantes,
.con-fo .iyl .links {
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.con-fo .iyl .integrantes h1,
.con-fo .iyl .links h1 {
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.con-fo .iyl .integrantes ul li {
    list-style: none;
}

.con-fo .iyl .links ul li,
.con-fo .iyl .integrantes ul li p {
    list-style: none;
    padding: 3px;
    margin-left: 5%;
}

.con-fo .iyl .links ul li a {
    text-decoration: none;
    color: white;
}

.con-fo .iyl .links ul li a:hover {
    text-decoration: underline;
}

.con-fo .esc {
    width: 100%;
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-size: 23px;

}

@media (max-width:1000px) {

    footer .con-fo,
    footer .con-fo .cyl,
    footer .con-fo .gya,
    footer .con-fo .iyl {
        width: 100% !important;
        flex-direction: column;
    }

    .con-fo .cyl,
    .con-fo .gya,
    .con-fo .docente,
    .con-fo .iyl {
        width: 100vw !important;
    }

    .con-fo .docente {
        margin-left: 0px;
    }

    .con-fo .esc {
        font-size: 17px;
    }
}