@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background-color: black;
    overflow-x: hidden;
    color: white;
}

body {
    font-family: "Greycliff CF";
}

/*------------------------------------------------------------navegador-----------------------------------------------------*/
.header {
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
}

.logof {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}

.logof a {
    text-decoration: none;
    color: white;
}

.navigation ul {
    list-style: none;
    z-index: 1000;
}

.header .navigation ul li {
    float: left;
    position: relative;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.336));
}

.header .navigation ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.header .navigation ul li a:hover {
    background-color: rgba(51, 21, 80, 0.658);
}

.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1);
    display: none;
}

.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;

}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;

}

.header .navigation ul li ul li {
    width: 100%;
    background-color: black;

}

.header .navigation ul li:hover>ul {
    display: initial;
}

#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;

}

@media (max-width:950px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
    }

    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;

    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {
        background-color: rgba(0, 0, 0, 0.438);
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked~.navigation {
        display: block;
    }
}

/*---------------------------------------Introduccion------------------------------------*/
.intro {
    width: 100%;
    min-height: 150vh;
}
.intro .contint {
    display: flex;
    width: 100%;
    min-height: 100vh;

}
.intro .contint .sec1 {
    width: 40%;
    background-color: rgba(27, 26, 26, 0.644);
    height: 90vh;
    mask-image: linear-gradient(0deg, black 80%, transparent);

}
.intro .contint .sec1 .titulotr{
    width: 100%;
}
.intro .contint .sec1 .titulotr h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 40px;
    color: rgb(21, 117, 134);

}
.cont-dec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.cont-dec .div-decoracion {
    margin-left: 50%;
    width: 100px;
    height: 25px;
    background-color: rgb(21, 117, 134);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin: 5%;
}
.textra {
    width: 100%;
    padding: 10px;
    margin-bottom: 7%;
}
.textra p {
    font-size: 20px;
}
.link a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 15px;
    background-color: rgb(49, 180, 185);
}
.textra p, 
.link a {
    margin-left: 5%;
}
.intro .contint .sec2 {
    width: 60%;
}
.intro .contint .sec2 .imgs {
    display: flex;
    width: 100%;
    height: 90vh;
    mask-image: linear-gradient(0deg, black 80%, transparent);
}
.intro .contint .sec2 .imgs img {
    width: 33.5%;
    object-fit: cover;
    mask-image: linear-gradient(270deg, black 80%, transparent);
}
@media (max-width:750px) {
    .intro .contint {
        flex-direction: column;
    }
    .intro .contint .sec1 ,
    .intro .contint .sec2 {
        width: 100%;
    }
    .intro .contint .sec1  {
        height: 100vh;
    }
}

@media (max-width:410px) {
    .intro .contint .sec1 {
        height: 60vh;
    }
    .intro .contint .sec1 .titulotr h1 {
        font-size: 30px;
    }
    .textra p {
        font-size: 16px;
    }
    .link a {
        padding: 10px;
    }
    .intro .contint .sec2 .imgs {
        height: 50vh;
    }
}
/*--------------------------------------------------imagenes y sus textos (ejemplos)--------------------------------*/
.iyt {
    width: 100%;
}

.iyt .iyt-content {
    display: flex;
    width: 100%;
}

.iyt .iyt-content .secty1,
.iyt .iyt-content .secty2 {
    width: 50%;
    margin: 20px;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.11);
}

.iyt .iyt-content .secty1 .imagenty1,
.iyt .iyt-content .secty2 .imagenty2 {
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.iyt .iyt-content .secty1 .imagenty1 {
    background-image: url('https://www.65ymas.com/uploads/s1/22/45/37/que-postura-se-recomienda-para-que-los-mayores-cojan-y-levanten-objetos-de-peso-medio.jpeg');
}

.iyt .iyt-content .secty2 .imagenty2 {
    background-image: url('https://st3.depositphotos.com/1006542/16273/i/450/depositphotos_162735146-stock-photo-man-and-woman-pushing-broken.jpg');
}

.iyt .iyt-content .secty1 .textosty1 h1,
.iyt .iyt-content .secty2 .textosty2 h1 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.iyt .iyt-content .secty1 .textosty1 p,
.iyt .iyt-content .secty2 .textosty2 p {
    font-size: 20px;
    line-height: 1.5;
}

@media (max-width:600px) {
    .iyt {
        width: 100%;
    }

    .iyt .iyt-content {
        flex-direction: column;
    }

    .iyt .iyt-content .secty1,
    .iyt .iyt-content .secty2 {
        width: 100%;
        margin: 10px 0px;
    }

    .iyt .iyt-content .secty1 .textosty1 p,
    .iyt .iyt-content .secty2 .textosty2 p {
        font-size: 16px;
    }
}

/*---------------mensaje de explicacion-------------------*/
.textm1 {
    width: 100%;
    padding: 15px;
}

.textm1 p {
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
}

@media (max-width:300px) {
    .textm1 p {
        font-size: 17px;
    }
}

/*-----------------------------ejemplos de la vida cotidiana con ejemplos-----------------------------------------*/
.mensajestext {
    width: 100%;
    height: auto;
}

.mensajestext .ej1txt {
    width: 60%;
    padding: 10px;
    margin-left: 3%;
}

.mensajestext img {
    width: 450px;
    height: 300px;
    object-fit: cover;
    margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.mensajestext .ej1txt p {
    font-size: 25px;
}

.mensajestext .ultmentxt {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}
/*---------------------------------------unidades de medicion-----------------------------------*/
.unimed {
    width: 100%;
}

.unimed .contenido1-un,
.unimed .contenido2-un {
    display: flex;
    width: 100%;
}

.unimed .contenido1-un .text1-un,
.unimed .contenido1-un .text2-un,
.unimed .contenido2-un .text3-un,
.unimed .contenido2-un .text4-un {
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.unimed .contenido1-un .text1-un p,
.unimed .contenido1-un .text2-un p,
.unimed .contenido2-un .text3-un,
.unimed .contenido2-un .text4-un {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
}

@media (max-width:600px) {

    .unimed .contenido1-un,
    .unimed .contenido2-un {
        flex-direction: column;
    }

    .unimed .contenido1-un .text1-un,
    .unimed .contenido1-un .text2-un,
    .unimed .contenido2-un .text3-un,
    .unimed .contenido2-un .text4-un {
        width: 100%;
        padding: 20px;
        margin-left: 0px;
    }

    .unimed .contenido1-un .text1-un p,
    .unimed .contenido1-un .text2-un p,
    .unimed .contenido2-un .text3-un,
    .unimed .contenido2-un .text4-un {
        font-size: 16px;
    }
}
/*-------------------------------formulas utilizadas--------------------------------*/
.formut {
    width: 100%;
    background-image: url('https://cdn.todamateria.com/imagenes/formulas-de-fisica-og.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    position: relative;
    mask-image: linear-gradient(0deg, black 90%, transparent);
}
.formut::before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.829);
    z-index: 1;
}
.formut h1,
.formut .p0,
.formut .p1,
.formut .p2,
.formut .p3,
.formut .p4,
.formut .p5 {
    position: relative;
    z-index: 3;
    padding: 15px;
}
.formut .p1 p{
    font-size: 40px;
}
.formut .p2 p{
    text-align: center;
    font-size: 30px;
}
.formut .p3 p {
    font-size: 30px;
}
.formut .p5 p {
    text-align: center;
    font-size: 25px;
}
@media (max-width:450px) {
    .formut h1 {
        font-size: 30px !important;
    }
    .formut .p1 p{
        font-size: 28px;
    }
    .formut .p0 {
        font-size: 17px;
    }
    .formut .p2 p,
    .formut .p3 p  {
        font-size: 20px;
    }
    .formut .p4 h1 {
        font-size: 22px !important;
    }
    .formut .p5 p {
        font-size: 20px;
    }
    }
/*-----------------------------------------------------------ejercicios--------------------------------------------*/
.ejercicios {
    width: 100%;
}
.ejercicios .cont-ejer {
    display: flex;
}
.ejercicios .cont-ejer .secej1,
.ejercicios .cont-ejer .secej2 {
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    background-color: rgba(19, 18, 18, 0.664);
}

.ejercicios .cont-ejer .secej1 .mentitej {
    width: 100%;
}
.ejercicios .cont-ejer .secej1 .mentitej h1 {
    text-align: center;
    color: green;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.ejercicios .cont-ejer .secej1 .litej p,
.ejercicios .cont-ejer .secej2 .litej2 p{
    margin-bottom: 5%;
    margin-left: 5%;
    font-size: 17px;
}

@media (max-width: 650px) {
    .ejercicios .cont-ejer {
        flex-direction: column;
    }
    .ejercicios .cont-ejer .secej1 ,
    .ejercicios .cont-ejer .secej2 {
        width: 100%;
        margin: 0px;
        margin-bottom: 5%;
        border: none;
    }
}
/*----------------------------------footer---------------------------*/
footer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(33, 107, 167, 0.37), black);
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
}

footer .con-fo {
    color: white;
}

footer .con-fo .cyl {
    width: 100%;
    display: flex;
    margin-left: 10%;

}

.con-fo .cyl .carrera,
.con-fo .cyl .lugar {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.con-fo .cyl .carrera h2,
.con-fo .cyl .lugar h2 {
    text-transform: capitalize;
}


.con-fo .gya {
    display: flex;
    width: 100%;
    margin-left: 10%;

}

.con-fo .gya .grado,
.con-fo .gya .asignatura {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.con-fo .docente {
    width: 100%;
    text-transform: capitalize;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    margin-left: 10%;

}

.con-fo .iyl {
    width: 100%;
    display: flex;
    margin-left: 5%;
}

.con-fo .iyl .integrantes,
.con-fo .iyl .links {
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.con-fo .iyl .integrantes h1,
.con-fo .iyl .links h1 {
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.con-fo .iyl .integrantes ul li {
    list-style: none;
}

.con-fo .iyl .links ul li,
.con-fo .iyl .integrantes ul li p {
    list-style: none;
    padding: 3px;
    margin-left: 5%;
}

.con-fo .iyl .links ul li a {
    text-decoration: none;
    color: white;
}

.con-fo .iyl .links ul li a:hover {
    text-decoration: underline;
}

.con-fo .esc {
    width: 100%;
    padding: 15px;
    margin: 10px;
    text-align: center;
    font-size: 23px;

}

@media (max-width:1000px) {

    footer .con-fo,
    footer .con-fo .cyl,
    footer .con-fo .gya,
    footer .con-fo .iyl {
        width: 100% !important;
        flex-direction: column;
    }

    .con-fo .cyl,
    .con-fo .gya,
    .con-fo .docente,
    .con-fo .iyl {
        width: 100vw !important;
    }

    .con-fo .docente {
        margin-left: 0px;
    }

    .con-fo .esc {
        font-size: 17px;
    }
}